version: '3'

volumes:
  pg-data:

services:
  postgres:
    build: ./postgres
    volumes:
      - pg-data:/var/lib/postgresql/data
      - ./Fc:/io

  pgr:
    build: ./pgr
    environment:
      - PGR_JWT_SECRET=${PGR_JWT_SECRET}
      - PGR_ANON=${PGR_ANON}
    depends_on:
      - postgres

  proxy:
    build: ./schema-proxy
    ports:
      - "6080:6080"